/* cabeçalho */

header {
    background-color: #2f86d6;
}

.conteudo-logo p{
    color: white;
}

nav a {
    color: white;
}

nav a:hover {
    color: black;
}

/* tabela preços */

main {
    padding: 100px;
}

main table {
    margin: auto;
}

.celula-escondida {
    visibility: hidden;
}

.celula-cabeçalho {
    text-align: center;
    padding: 20px 40px;
    border-bottom: 1px solid #f1f3f7;
    border-right: 1px solid #f1f3f7;
    background-color: #f1f3f7;
  }
  
  .celula-cabeçalho p {
    font-size: 14px;
    font-weight: 500;
    color: #a8a4a4;
  }
  
  .celula-cabeçalho h2 {
    font-size: 36px;
  }
  
  table tbody td {
    text-align: center;
    padding: 20px 40px;
    border-bottom: 1px solid #f1f3f7;
    border-right: 1px solid #f1f3f7;
  }
  
  .primeira-celula {
    background-color: #f1f3f7;
    font-weight: 500;
    text-align: left;
  }
  
  .marcador-azul {
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: #2f86d6;
    border-radius: 100px;
  }
  

  /* contato */

  footer {
    background-color: #2f86d6;
  }

  footer p {
    padding: 5px 0px;
  }

  .logo-contato {
    margin-bottom: 0px;
  }

  .conteudo-contato {
    color: white;
  }

  .conteudo-contato p {
    margin-bottom: 40px;
  }

  .creditos {
    background-color: white;
    padding: 5px;
  }